footer {
    background-color: transparent;
    height: 100px !important;
    text-align: center;
    background: rgba(49, 49, 49, 0.9);

    div {
        position: relative;
        top: 50px;
    }

    a { 
        text-decoration: none;
        color: inherit;
    }
}