@import '../../global.scss';

.intro {
    position: relative;
    height: 100vh;
    margin: 0;
    display: flex;
    z-index: 5;

    .socials {
        position: fixed;
        // width: 100px;
        height: 500px;
        top: 410px;
        left: 5px;

        @include mobile {
            position: absolute;
            top: 590px;
            left: -14px;

        }

        .ulSocials {
            margin-bottom: 10px;
            list-style-type: none;
            position: relative;
            left: 41px;
            

            li {
                margin-top: 5px;
            }

        }

        .lineSocials {
            border-left: 1px solid black;
            height: 130px;
            position: absolute;
            left: 54px;


            @include mobile {
                height: 100px;

            }
        }

        .mail {
            font-size: 28px;
            color: black;
        }

        .mail:hover {
            color: rgb(184, 0, 0);
        }

        .linkedin {
            font-size: 28px;
            color: black;
        }

        .linkedin:hover {
            color: rgb(11, 94, 219);
        }

        .github {
            font-size: 28px;
            color: black;
        }

        .github:hover {
            color: rgb(172, 172, 172)
        }


    }

    .topbar {
        width: 100%;
        height: 100px;
        background-color: transparent;

        color: #15023a;
        position: fixed;
        top: 0;
        z-index: 3;
        transition: all 1s ease;

        .wrapper {
            padding: 14px 30px;
            display: flex;
            align-items: center;
            justify-content: space-between;

            @include mobile {
                padding: 14px 10px;
            }

            .left {
         
                .logo {
                    img {
                        width: 61px;
                        height: 61px;
                    }
                }
            }

            .right {
                // margin-right: 25px;
            }

            .hamburger {
                width: 32px;
                height: 25px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                cursor: pointer;

                span {
                    width: 100%;
                    height: 3px;
                    background-color: #15023a;
                    transform-origin: left;
                    transition: all 1s ease;
                }
            }
        }

        &.active {
            // background-color: #15023a;
            color: white;

            .hamburger {
                span {
                    &:first-child {
                        background-color: white;
                        transform: rotate(45deg);
                    }

                    &:nth-child(2) {
                        opacity: 0;
                    }

                    &:last-child {
                        background-color: white;
                        transform: rotate(-45deg);

                    }
                }
            }
        }
    }

    .monitors {
        position: absolute;
        right: 210px;
        top: 30px;
        width: 640px;
        height: 640px;

        @include mobile {
            position: absolute;
            right: 25px;
            top: 250px;
            width: 300px;
            height: 300px;
        }
    }
    

    .wrapperDetails {
        width: 410px;
        position: absolute;
        bottom: 410px;
        left: 450px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        @include mobile {
            padding-left: 0;
            align-items: center;
            bottom: 570px;
            left: 0px;
        }

        h1 {
            font-size: 70px;
            margin-top: 30px;
            // letter-spacing: -3px;
            font-weight: 700;
            margin-bottom: -5px;
            color: #010527;

            @include mobile {
                font-size: 40px;
            }
        }

        h2 {
            font-size: 35px;
            font-weight: 300;
        }

        h3 {
            font-size: 32px;
            font-weight: 400;
            color: #010527;
            // color: #f5f5f5;


            @include mobile {
                font-size: 20px;
            }

            .ityped-cursor {
                // font-size: 2.2rem;
                -webkit-animation: blink 1s infinite;
                -moz-animation: blink 1s infinite;
                animation: blink 1s infinite;

            }

            @keyframes blink {

                50% {
                    opacity: 1;
                }

                100% {
                    opacity: 0;
                }
            }

            @-webkit-keyframes blink {
                100% {
                    opacity: 0;
                }
            }

            @-moz-keyframes blink {
                100% {
                    opacity: 0;
                }
            }
        }
    }

    

    #icon {
        position: absolute;
        bottom: 360px;
        left: 561px;

        width: 25px;
        height: 25px;
        border-left: 3px solid black;
        border-bottom: 3px solid black;

        -webkit-transform: rotateZ(-45deg);
        transform: rotateZ(-45deg);
        -webkit-animation: scrollArrow 1.6s infinite;
        animation: scrollArrow 1.6s infinite;
        box-sizing: border-box;

        @include mobile {
            bottom: 210px;
            left: 180px;
        }
    }

    @-webkit-keyframes scrollArrow {
        0% {
            -webkit-transform: rotateY(0) rotateZ(-45deg) translate(0, 0);
            opacity: 0;
        }

        50% {
            opacity: 1;
        }

        100% {
            -webkit-transform: rotateY(720deg) rotateZ(-45deg) translate(-20px, 20px);
            opacity: 0;
        }
    }

    @keyframes scrollArrow {
        0% {
            transform: rotateY(0) rotateZ(-45deg) translate(0, 0);
            opacity: 0;
        }

        50% {
            opacity: 1;
        }

        100% {
            transform: rotateY(720deg) rotateZ(-45deg) translate(-20px, 20px);
            opacity: 0;
        }
    }
}